/* body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  font-size: 1rem;
  font-weight: 1.5;
  line-height: 1.5;
  color: #292b2c;
  background-color: #fff;
} */

.bodyText {  
  color: rgb(255, 255, 255);
  font-family: "Bahnschrift SemiBold";
  font-size: 1.5rem;
}

.bodyOutputText {  
  color: rgb(255, 225, 106);   
  font-family: "Bahnschrift SemiBold";
  font-size: 1.5rem;
}

.functionHeader {  
  color: rgb(186, 255, 156); 
  font-family: "Bahnschrift SemiBold";
  font-size: 2rem;
}

.titleText {  
  color: rgb(186, 255, 156);   
  font-family: "Bahnschrift SemiBold";
  font-size: 3rem;
}

.App {
  text-align: center;
  padding: 20px; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #46984b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(143, 236, 180);
}

.App-link {
  color: #fb61a9;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
